{% load static %}
<script src="{% static 'jquery.js' %}"></script>
<script>
    $(function(){
        let value = $.ajax({
            type: "GET",
            url: "/getHeader",
            dataType: 'json',
            async: false,
            headers: {
                "sign":"123",
            }
        }).responseJSON;
        value = '<h2>' + value["header"] + '</h2>';
        $("#myDiv").html(value);
    })
</script>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h3>Hello Headers</h3>
    <div id="myDiv"><h2>Ajax获取请求头</h2></div>
    <button id="btn01" type="button">改变内容</button>
</body>
</html>